<!DOCTYPE html>
<html>
<head>
    <title>Courses</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

<button id="showCoursesBtn" class="btn btn-primary">show courses</button>

<div id="courseList">
    <h2>Our courses:</h2>
    <ul>
        <li class="course course-beginners">Course Beginners: send email for more information</li>
        <li class="course course-intermediate">Course Intermediate: send email form more information</li>
        <li class="course course-advanced">Course Advanced: send email form more information</li>
        
    </ul>
</div>

<script>
    // Obtiene referencias a los elementos HTML
    var showCoursesBtn = document.getElementById("showCoursesBtn");
    var courseList = document.getElementById("courseList");

    // Agrega un controlador de eventos al botón
    showCoursesBtn.addEventListener("click", function() {
        // Cambia la visibilidad de la lista de cursos al hacer clic en el botón
        if (courseList.style.display === "none" || courseList.style.display === "") {
            courseList.style.display = "block";
        } else {
            courseList.style.display = "none";
        }
    });
</script>

</body>
</html>
