<!DOCTYPE html>
<html>
<head>
    <title>Courses</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

<button id="showCoursesBtn" class="btn btn-primary">show courses</button>

<div id="courseList">
    <h2>Our Business courses:</h2>
    <ul>
        <li>Business Course</li>
        <li>Cultural English and International Business Course</li>
        <li>Technical English Course</li>
        </ul>
</div>

<script>
    // Obtiene referencias a los elementos HTML
    var showCoursesBtn = document.getElementById("showCoursesBtn");
    var courseList = document.getElementById("courseList");

    // Agrega un controlador de eventos al botón
    showCoursesBtn.addEventListener("click", function() {
        // Cambia la visibilidad de la lista de cursos al hacer clic en el botón
        if (courseList.style.display === "none" || courseList.style.display === "") {
            courseList.style.display = "block";
        } else {
            courseList.style.display = "none";
        }
    });
</script>

</body>
</html>